<div class="accordion" fillSpace="sidebar"> 
    <div class="accordionContent">
        <ul class="tree">
            {foreach $menuList as $k=>$v}
                <li><a href="{:url($v)}" target="navTab" rel="{$k}" class="addMem">{:lang($k)}</a></li>
            {/foreach}
        </ul>
    </div>
</div>
<input type="hidden" value="{$memFlag??''}" id='memFlag'>
<input type="hidden" value="{:lang('addMem')}" id='title'>
<script>
    $(function(){        
        $(".addMem").click(function(){
            getSession();
            var memFlag =$("#memFlag").val();
            var title   =$("#title").val();
            if(memFlag==1){
                $.pdialog.open('/index/memLink','',title,{width:400,height:300,mask:true});
            }
        });
    });
    function getSession(){
        $.ajax({
            async: false,
            url:'/index/getSessionMem',
            success:function(msg){
               if(msg==1){
                   $("#memFlag").val(1);
               }else{
                   $("#memFlag").val(0);
               }
            }
        },"json");
    }
</script>