<div class="accordion" fillSpace="sidebar"> 
    <div class="accordionContent">
        <ul class="tree">
            {foreach $menuList as $k=>$v}
                {if (session('memFlag')==1)}
                    <li><a class="add" target="dialog" mask="true" href="{:url('index/memList')}" >{:lang($k)}</a></li>
                {else/}
                    <li><a href="{:url($v)}" target="dialog" rel="{$k}">{:lang($k)}</a></li>
                {/if}
            {/foreach}
        </ul>
    </div>
</div>