<div class="pageContent">
    <form method="post" action="/index/addMem?callbackType=closeCurrent" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">    
        <div class="pageFormContent" layoutH="58">
            <div class="unit">
                <label>连接名称：</label>
                <input type="text" name="name" size="25"  value="{:lang('con_name_def')}" class='textInput required '  alt="{:lang('con_name_def')}"/>
            </div>
            <div class="unit">
                <label>连接地址：</label>
                <input type="text" name="host" size="25"  value="127.0.0.1" class='textInput required ip' alt="127.0.0.1"/>
            </div>
            <div class="unit">
                <label>端口号：</label>
                <input type="text" name="port" size="15"  value="11211" class='digits required' alt="11211"/>
            </div>
        </div>
        <div class="formBar">
           <ul>
               <li><div class="buttonActive"><div class="buttonContent fresh"><button type="submit" class="submit_s">提交</button></div></div></li>
               <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
           </ul>
       </div> 
    </form>
</div>
<script>
    $(function(){
        $(".submit_s").click(function(){
            top.location.reload();
            parent.location.reload();
        });
    });    
</script>