<div class="pageHeader">	
    <div class="searchBar">
        <h2 class="contentTitle">>>　{$Think.session.default_name}　 {$Think.session.default_host}</h2>
    </div>
</div>

<div class="pageCentent">	
    <table class="table" width="45%" layoutH="100%">
        <thead>
            <tr>
                <th width="50">参数</th>
                <th width="80">值</th>
                <th width="100">描述</th>
            </tr>
        </thead>
        <tbody>
            {foreach $memstats as $k=>$v}
                <tr>
                    <td>{$k}</td>
                    <td>{$v}</td>
                    <td>{:lang('cs_'.$k)}</td>
                </tr>
            {/foreach}
        </tbody>
    </table>	
</div>